<div class="body_entire">
  <div class="question-statement">
   <div class="question-statement-content">
     サービス利用にあたって、色々とご心配があると思います。<br>以下が主な質問になります。<br>また、いつでも質問をお受けしておりますのでお気兼ねなくご連絡ください！
   <%= link_to '提携している医療機関についてはこちら', question_path(question), class: "schedule_content" %>
    </div>
  <div>

  <div class="question-outfield">
      <div class="question-entire">

        <div class="question-each">
          <%= image_tag("attending.jpg", alt: "往診", class: "process_image") %>
          <div class="question-contents">
            <div class="question-content">
              <%= image_tag("Q.png", alt: "Q", class: "question_image") %>
              <div class="question-font">
              料金はいくらになりますか？<br>詳細が知りたいです。
              </div>
            </div>
            <div class="question-content">
              <%= image_tag("A.png", alt: "A", class: "question_image") %>
              <div class="question-font">
              チケット代＋通常の医療費負担となります。<br>チケット代にはスタッフの交通費、手数料等が含まれます。<br>2時間単位での購入となり、一枚1000円です。<br>
              予約の際にスタッフと詳細に何時間のサービス利用になるかを取り決めてご購入ください。<br>余ったチケットは次回ご利用が可能です。
              </div>
            </div>
          </div>
        </div>

        <div class="question-each">
          <%= image_tag("attending.jpg", alt: "往診", class: "process_image") %>
          <div class="question-contents">
            <div class="question-content">
              <%= image_tag("Q.png", alt: "Q", class: "question_image") %>
              <div class="question-font">
              合計金額が高いのではないかと、不安です…。<br>医療費の制度は適応されますか？
              </div>
            </div>
            <div class="question-content">
              <%= image_tag("A.png", alt: "A", class: "question_image") %>
              <div class="question-font">
              通常の医療費負担が適用されるため、<br>子ども（0歳から18歳まで）医療費助成制度が利用できます。<br>ある月の1日目、2日目の最高負担は500円、3日目以降は負担がありません。<br>所得により負担が変動するため、スタッフもしくは詳細はお近くの市役所にご確認ください。
              </div>
            </div>
          </div>
        </div>

       <div class="question-each">
          <%= image_tag("attending.jpg", alt: "往診", class: "process_image") %>
          <div class="question-contents">
            <div class="question-content">
              <%= image_tag("Q.png", alt: "Q", class: "question_image") %>
              <div class="question-font">
              子供の体調不良ではないけど、<br>学童保育が利用できないのですが、このサービスは利用できますか？
              </div>
            </div>
          <div class="question-contents">
            <div class="question-content">
              <%= image_tag("A.png", alt: "A", class: "question_image") %>
              <div class="question-font">
              はい。本サービスには、専属の保育士による保育もございます。<br>その場合は、チケットのみのご負担となります。
              </div>
            </div>
          </div>
        </div>

        
      </div>
  </div>
</div>