 <div class="body_entire">
  <div class ="body_flex"> 
     <div class="signup_form">

      <%# <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %> 
      <%# <%= form_with model: @user, url: user_registration_path, local: true do |f| %> 
      <%= form_with(model: @user, url: user_path(@user), method: :patch) do |form| %>

        <%= render "devise/shared/error_messages", resource: resource %>
          <div class="login_title">Sign up</div>

          <div class="login_field">
            <%= form.label :ニックネーム %><br />
            <%= form.text_area :nickname, id: "nickname", class: "login_content", placeholder: "例)太郎", maxlength: "40" %>
          </div>
        
          <div class="login_field">
            <%= form.label :Eメール %><br />
            <%= form.email_field :email, autofocus: true, autocomplete: "email", class: "login_content" %>
          </div>


          <div class="login_field">
            <%= form.label :パスワード %><br />
            <%= form.password_field :password, id: "password", placeholder: "6文字以上の半角英数字", class: "login_content" %>
          </div>

          <div class="login_field">
            <%= form.label :確認用パスワード %><br />
            <%= form.password_field :password_confirmation,  id: "password-confirmation", placeholder: "同じパスワードを入力して下さい", class: "login_content" %>
          </div>
          
          <div class="login_field">
            <%= form.label :苗字 %><br />
            <%= form.text_area :sir_name, id: "last-name", placeholder: "例) 山田", class: "login_content" %>
          </div>

          <div class="login_field">
            <%= form.label :名前 %><br />
            <%= form.text_area :first_name, id: "first-name", placeholder: "例) 太郎", class: "login_content" %>
          </div>

          <div class="login_field">
            <%= form.label :電話番号 %><br />
            <%= form.text_area :phone_number, id: "phone_number", class: "login_content" %>
          </div>
          
          <div class="login_field">
            <%= form.label :住所 %><br />
            <%= form.text_field :address, id: "address", class: "login_content" %>
          </div>

          <div class="actions">
            <%= form.submit "情報を更新する" %>
          </div>
        <% end %>
      </div>
  </div>
</div>