<% @requests.each do |request| %>
    <div class="each_schedule">
    <div class = "schedule_bracket">訪問依頼日：
        <%= request.created_at.strftime('%Y/%m/%d %H:%M') %>
    </div>
    <div class = "schedule_bracket">タイトル：
        <%= request.title %>
    </div>
    <div class = "schedule_bracket">
      予約日:<%= request.date %>
    </div>
    <div class = "schedule_bracket">
      希望時間:<%= request.expected_length %>
    </div>
  
    <div class="schedule_button">
      <%= link_to '詳細', request_path(request.id), class: "schedule_content" %> 
    </div> 
    </div>
<% end %>   