 <div class="body_entire">
  <div class ="body_flex">
   <div class="form_entire">
      <%= form_with(model: @request, local: true) do |form| %>
        <div class ="entry_title">＜予約入力フォーム＞</div>
        <%= form.text_field :title, placeholder: "件名", class: "entry_section" %><br>
        <%= form.text_field :date, placeholder: "希望日時", class: "entry_section" %><br>
        <%= form.text_area :description, placeholder: "主訴や、予約の内容を入れてください。", rows: "20", class: "entry_section" %><br>
        <%# <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %> 
        <%= form.text_field :expected_length, placeholder: "希望時間/2時間", class: "entry_section" %><br>
        <%= form.text_area :expected_place, placeholder: "スタッフの派遣先住所を入力してください。マイページの住所の場合は「ユーザー住所」。", rows: "5", class: "entry_section" %><br>
        <%= form.submit "SEND", class: "entry_section" %>
      <% end %>
    </div>
  </div>
</div>