<div class='request_reference'>
  <div class ='reference_detail'>
          <%= @request.title %>
          <%= @request.date %>
          <%= @request.description %> 
          <%= @request.expected_length %> 
          <%= @request.expected_place %> 
  </div>
</div>
