
<div class='request_reference'>
  <div class ='reference_detail'>
          <div class="reference_title">
             <%= @request.title %>
          </div>
          <%= @request.date %>
          <%= @request.description %> 
          <%= @request.expected_length %> 
          <%= @request.expected_place %> 
  </div>
</div>
