
<div class="body_entire">
  <div class ="body_flex">
       <div class="form_entire">
          <div class ="entry_title">＜予約詳細＞</div>
                  <div class = "schedule_bracket">訪問依頼日：
                    <%= @request.created_at.strftime('%Y/%m/%d %H:%M') %>
                   </div>
                  <div class="section_title">件名:
                   <div class="show_section">              
                    <%= @request.title %>
                   </div>
                  </div>
                  <div class="section_title">希望日時:
                   <div class="show_section">  
                    <%= @request.date %>
                   </div>
                  </div>

                  <div class="section_title">カテゴリー:
                    <div class="show_section"> 
                     <% category = Category.find_by(id: @request.category_id) %><%= category&.name %>
                    </div>
                  </div>

                   <div class="section_title">添付画像:
                    <% @request.images[0..-1].each do |image| %>
                     <% if @request.images.attached? %>
                       <%= image_tag(image.variant(resize: '500x500'), class: 'request-image') %>
                     <% end %>
                      <%# <%= image_tag image.image.variant(resize: '500x500'), class: 'request-image' if @request.image.attached? %>
                     <%# <%= image_tag @requests[0].image.variant(resize: '500x500'), class: 'request-image' if @request.image.attached? %>
                    <%end%>
                   </div>


                  <div class="section_title">主訴や、詳細内容を入れてください:
                   <div class="show_section"> 
                    <%= @request.description %> 
                   </div>
                  </div>
                  <div class="section_title">希望時間/2時間:
                   <div class="show_section"> 
                    <%= @request.expected_length %> 
                    </div>
                  </div>
                  <div class="section_title">派遣先住所:
                    <div class="show_section"> 
                     <%= @request.expected_place %> 
                    </div>
                  </div>

                  <% if user_signed_in? && current_user.id == @request.user_id %>
                    <div class="schedule_button">
                      <%= link_to '削除', request_path(@request), class: "schedule_content", data: { turbo_method: :delete } %>
                    </div> <br>
                    
                    <div class="schedule_button">
                      <%= link_to '編集', edit_request_path(@request), class: "schedule_content" %> 
                    </div>
                  <% end %>           
          </div>
       </div>
        <div class="comment_view_entire">
          <div class ="comment_view">
            <h4>＜コメント一覧＞</h4>
             <p><%= "コメント数：#{@comments.count} コメント" %></p>


            <% @comments.each do |comment| %>
               <h4>＜コメント＞</h4>
               <div class="comment_location">
                  <div class="comment_left">
                    <div class = "comment_content">コメント日：<%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></div>

                    <div class = "comment_content">ユーザー名：<%= comment.user.nickname%></div>
                    
                    <div class="comment_content">コメント：<%= comment.text%></div>
                  </div>
                   <% if comment.user == current_user %>
                    <div class="comment_right">
                        <div class="comment_button">
                          <%# <%= link_to '削除', request_comment_path(request_id: @request.id, id: comment.id), class: "comment_button_content",{ method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" } } }%> 
                        
                        <%# <%= link_to '削除', request_comment_path(request_id: @request.id, id: comment.id), class: "comment_button_content", method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" } } %> 

                          <%# <%= button_to "削除", rabbit_weight_path(@rabbit, weight), { method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" } } } %> 
                          <%= link_to '削除', request_comment_path(request_id: @request.id, id: comment.id), 
                            class: "comment_button_content",
                            method: :delete,
                            data: { turbo_confirm: "本当に削除しますか？" } %>
                           </div> <br>
                          
                    </div>
                   <% end %>
               </div>
                      

            <% end %>
        </div>
       </div>

       <div class="comment_form">
              <% if user_signed_in? %>
                <%= form_with(model: [@request, @comment], local: true) do |form| %>
                  <%= form.text_area :text, placeholder: "コメントする", class: "comment_text", rows: "4" %>
                  <div class="schedule_button">
                   <%= form.submit "SEND", class: "schedule_content" %>
                  </div>
                <% end %>
              <% else %>
                <strong><p>※※※ コメントするには新規登録/ログインしてください。。 ※※※</p></strong>
              <% end %>
       </div>

   </div>
 </div>

 