<div class="body_entire">
  <div class ="body_flex">
    <div class="form_entire">
          <div class ="entry_title">＜予約詳細＞</div>
                  <div class="section_title">件名:
                   <div class="show_section">              
                    <%= @request.title %>
                   </div>
                  </div>
                  <div class="section_title">希望日時:
                   <div class="show_section">  
                    <%= @request.date %>
                   </div>
                  </div>
                  <div class="section_title">主訴や、詳細内容を入れてください:
                   <div class="show_section"> 
                    <%= @request.description %> 
                   </div>
                  </div>
                  <div class="section_title">希望時間/2時間:
                   <div class="show_section"> 
                    <%= @request.expected_length %> 
                    </div>
                  </div>
                  <div class="section_title">派遣先住所:
                    <div class="show_section"> 
                     <%= @request.expected_place %> 
                    </div>
                  </div>

                  <% if user_signed_in? && current_user.id == @request.user_id %>
                    <div class="schedule_button">
                      <%= link_to '削除', request_path(@request), class: "schedule_content", data: { turbo_method: :delete } %>
                    </div> <br>
                    
                    <div class="schedule_button">
                      <%= link_to '編集', edit_request_path(@request), class: "schedule_content" %> 
                    </div>
                  <% end %>
            
          </div>
    </div>
   </div>
 </div>

 