<!DOCTYPE html>
<html>
  <head>
    <title>Hospil</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

   
    <%= javascript_importmap_tags %>
  </head>

  <body>
   <header class="header">
      <div class="head_name">
        
       <%= link_to root_path do %>
         <%= image_tag("hospil_logo.png", alt: "会社ロゴ", class: "company_logo") %>
       <% end %>

        <%= form_with(url: search_requests_path, local: true, method: :get, class: "search-form") do |form| %>
          <%= form.text_field :keyword, placeholder: "予約履歴を検索する", class: "search-input" %>
          <%= form.submit "検索", class: "search-btn" %>
        <% end %>


        <div class="top_button">
            <a class="top_button_content" href=#>よくあるご質問</a>
            <% if user_signed_in? %>
              <%= link_to "予約する", new_request_path, class: "top_button_content" %>
               <%= link_to "マイページ", "/users/#{current_user.id}",class: "top_button_content" %>
              <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "top_button_content" %>  
            <% else %>
               <%= link_to "ログイン", new_user_session_path, class: "top_button_content" %> 
               <%= link_to "新規登録", new_user_registration_path, class: "top_button_content" %> 
            <% end %>
        </div>
      </div>
    </header>

    <%= yield %>
     <footer>
      <div class ="footer_content">
        <div class="footer_statements">まずは、お気軽にお問い合わせください！＞＞＞＞＞＞</div>
          <div class="btn_detail"> <a href=# class="btn-content">お電話はこちら</a></div>
    </footer>
  </body>
</html>
